﻿<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Home" asp-area="" asp-action="Index">Главная страница</a>
    </li>  
        <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Image" asp-area="" asp-action="Index">Альбом</a>
    </li> 
</ul>