﻿@inject ISigninManager signin
<ul class="navbar-nav flex-grow-1"
    style="justify-self: flex-end; margin-left: auto;">
    @if (signin.IsSignIn())
    {
        <li class="nav-item">
            <a class="nav-link text-dark" 
                href="/User/Home/Index">@signin.GetUserEmail()</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Logout" asp-action="Index">Выход</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Авторизация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Registration" asp-action="Index">Регистрация</a>
        </li>
    }

</ul>