﻿@using Auth.Services.UserMessager
@inject ISigninManager signin
@inject IUserMessager messager

@model IEnumerable<EventTable>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Дата</th>
            <th scope="col">Сумма</th>
            <th scope="col">Комментарий</th>
        </tr>
    </thead>
    <tbody>
    
        @foreach(var model in Model)
        {
            <tr>
                <th scope="row">1</th>
                <td> @(model.Created) </td>
                @foreach(var text in model.Get())
                {
                    <td> @text</td>                
                }
            </tr>
        }
    </tbody>
</table>