﻿@using Auth.Services.UserMessager
@inject ISigninManager signin
@inject IUserMessager messager


<div class="card m-5">
  <h5 class="card-header">Телевиденье</h5>
  <div class="card-body">
   
    <p class="card-text">100 каналов</p>
    <span class="btn btn-primary"
          onclick="openDialog()">Подключить</span>
  </div>
</div>


 <div class="card m-5">
  <h5 class="card-header">Интернет</h5>
  <div class="card-body">
   
    <p class="card-text">1000 mb/sec</p>
    <span class="btn btn-primary"
          onclick="openDialog()">Подключить</span>
  </div>
</div>