﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject ISigninManager sign
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/modal.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="card w-100"  >
              <div class="card-header">
                @sign.GetUserEmail()
              </div>
              <ul class="list-group list-group-flush">
         
                <li class="list-group-item" ><a href="/User/Home/Index">Домашняя страница</a></li>
                <li class="list-group-item" ><a href="/User/Services/Index">Мои услуги</a></li>
                <li class="list-group-item" ><a href="/User/History/Index">История платежей</a></li>
              </ul>
              <ul class="list-group list-group-flush">
         
                <li class="list-group-item" ><a href="/User/Messages/Send">Сообщения/Новое</a></li>
                <li class="list-group-item" ><a href="/User/Messages/Outbox">Сообщения/Исходящие</a></li>
                <li class="list-group-item" ><a href="/User/Messages/Inbox">Сообщения/Входящие</a></li>
              </ul>
            </div>
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</div>
