﻿@inject IStoredImageRepository images
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="generator" content="Hugo 0.84.0">
    <title>Архив</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @@media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


</head>
<body>
    
    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">Информация</h4>
                        <p class="text-muted">Сервис предоставляяет функции загрузки и хранения изображений.</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Ссылки</h4>
                        <ul class="list-unstyled">                            
                            <li><a href="https://getbootstrap.com/docs/4.1/examples/album/" class="text-white">Шаблон bootstrap</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z" /><circle cx="12" cy="13" r="4" /></svg>
                    <strong>Архив</strong>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>

    <main>

        <section class="p-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light"> Изображения </h1>
                    <p class="lead text-muted">Вы можете выбрать изображение для просмотра, либо загрузить новое.</p>
                </div>
            </div>
        </section>
        <div align="center">
            <a href="/Image/Create" class="text-center btn btn-primary">Загрузить</a>
        </div>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    @foreach (var image in (await images.GetAll()))
                    {
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="/Image/Show?ID=@image.ID" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">@image.Name</h5>
                                    <p class="card-text">@image.Desc</p>
                                    <a href="/Image/Edit?ID=@image.ID" class="btn btn-primary">Редактировать</a>
                                    <a href="/Image/Delete?ID=@image.ID" class="btn btn-danger">Удалить</a>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>

    </main>

    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">В начало</a>
            </p>
            <p class="mb-1">Вы можете загрузить изображение</p>
            
        </div>
    </footer>


    <script src="/assets/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>
 
