﻿
@model Views.Login.LoginModel
@if (ViewData.ContainsKey("User"))
{
    <p>@ViewData["User"]</p>
}
<partial name="_ReCaptcha_API" />
<div>
    <script>
        function onLoginFormSubmit(){
            if(RememberMe.checked){
                localStorage.setItem(location.url, JSON.stringify({
                    UserID: UserID.value,
                    Password: Password.value                      
                }));
            }else{
                localStorage.setItem(location.url, JSON.stringify({
                    UserID:     ''
                    Password:   ''                    
                }));
            }
        }
    </script>
    <form method="post" onsubmit="onLoginFormSubmit()">
        <h2>Авторизация пользователя</h2>
        <div class="form-group">
            <div asp-validation-summary="All" class="text text-danger"></div>
        </div>
        <div class="form-group">
            <label asp-for="UserID"></label>
            <input asp-for="UserID" class="form-control">
            <script>(function () { var p = document.getElementById('UserID'); p.setAttribute('placeholder', p.previousElementSibling.innerHTML); })();</script>
            <span asp-validation-for="UserID" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control">
            <script>(function () { var p = document.getElementById('Password'); p.setAttribute('placeholder', p.previousElementSibling.innerHTML); })();</script>
            <span asp-validation-for="Password" class="text text-danger"></span>
        </div>
        <div class="form-check">
            <input asp-for="RememberMe" type="checkbox" class="form-check-input">
            <label asp-for="RememberMe" class="form-check-label"></label>
            <span asp-validation-for="RememberMe" class="text text-danger"></span>
        </div>
        <div class="form-group" align="right">
            <partial name="_ReCaptcha" />        
        </div>
        <div class="form-group" align="right">
            <button type="submit" class="btn btn-primary btn-sm">Выполнить</button>
        </div>
    </form>   
    <script>
        window.addEventListener('load',function onLoginViewLoaded(){          
          if(typeof(localStorage[location.url]) != 'undefined' ){
              const json = localStorage.getItem(location.url); 
              var model = JSON.parse(json);
              var names = Object.getOwnPropertyNames(model);
              for(let i=0; i<names.length; i++){
                  const element = document.getElementById(names[i]);
                  if(element){
                      element.value = model[names[i]];
                  }
              }
          }
        },true);
    </script>
    
</div>