﻿@using Auth.Fasade
@inject INewsRepository news
@model SearchResults<News>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form >
    <h1 class="directionionay-4">События</h1>       
    <input asp-for="Page" type="hidden"/>
    <input asp-for="Size" type="hidden"/>
    <div class="form-group">
        <label for="Query">Поиск</label>
        <input type="text" class="form-control" id="Query" name="Query" 
                value="@Model.Query"
                placeholder="Поиск по обявлениям">
    </div>
     
     
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-items: baseline; ">
        @foreach(var message in Model.Results)
        {
            <div class="card m-2 selected" style="min-width: 18rem; flex: 1;"
                 onmouseleave="this.classList.remove('text-white'); this.classList.remove('bg-primary')"
                 onmouseover="this.classList.add('text-white');this.classList.add('bg-primary')">              
              <div class="card-body p-3 ">
                <h5 class="card-title"> @message.Title </h5>
                <p class="card-text"> @message.Text </p>
                <a href="@message.Href" class="text-white btn btn-primary"> Подробнее </a>
              </div>
            </div>
        }
        
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (Model.Page > 1)
            {
                <li class="page-item"><span class="page-link" onclick="Page.value=Page.value-1; document.forms[0].submit()">Назад</span></li>
            }
            
            @for(int i=1; i<Model.Page; i++)
            {
                <li id="p_@i" class="page-item"><span class="page-link" onclick="Page.value=@i; document.forms[0].submit()">@i</span></li>

            }
            @for(int i=Model.Page; i<=Model.TotalPages; i++)
            {
                <li id="p_@i" class="page-item"><span class="page-link" 
                    onclick="Page.value=@i; document.forms[0].submit()">@i</span></li>

            }
            @if (Model.Page!=Model.TotalPages)
            {
                <li class="page-item"><span class="page-link" 
                    onclick="Page.value=parseInt(Page.value)+1; document.forms[0].submit()">Вперёд</span></li>

            }
        </ul>
    </nav>
    <script>document.getElementById('p_@(Model.Page)').classList.add('active')</script>
</form>
 
