﻿@model Views.Registration.RegistrationModel
@inject ReCaptchaOptions options
@using static Newtonsoft.Json.JsonConvert
@if (ViewData.ContainsKey("User"))
{
    <p>@ViewData["User"]</p>

} 
<div class="container-fluid">
    <h2>Регистрация учетной записи</h2>
    <div id="model" style="display: none;">@(SerializeObject(Model))</div>
    <form method="post" class="row">
        
        <div class="col-6">

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control">
                <script>(function () { var p = document.getElementById('Email'); p.setAttribute('placeholder', p.previousElementSibling.innerHTML); })();</script>
                <span asp-validation-for="Email" class="text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone"></label>
                <input asp-for="Phone" oninput="onTelInput(event)" class="form-control">
                <script>(function () { var p = document.getElementById('Phone'); p.setAttribute('placeholder', p.previousElementSibling.innerHTML); })();</script>
                <script>
                    var temp = document.getElementById("Phone").value;
                    var tempPhonneNumnerLength = 0;
                    function onTelInput(evt) {
                        var s = '';
                        var v = evt.target.value;
                        for (let i = 0; i < v.length; i++) {
                            if ("0123456789-".indexOf(v[i]) != -1) {
                                s += v[i];
                                if (s.length > 13) {
                                    break;
                                }
                            }

                        }
                        if (s.length > 1 && s[1] != '-') s = s.substring(0, 1) + '-' + s.substring(1)
                        if (s.length > 4 && s[5] != '-') s = s.substring(0, 5) + '-' + s.substring(5)
                        if (s.length > 8 && s[9] != '-') s = s.substring(0, 9) + '-' + s.substring(9)
                        v = s;
                        console.log(v);
                        if (v.endsWith('-'))
                            v = v.substring(0, v.length - 1);
                        tempPhonneNumnerLength = v;
                        document.getElementById("Phone").value = v;
                    }
                    document.getElementById("Phone").oninput = function (evt) {
                        onTelInput(evt);
                    }
                </script>
                <span asp-validation-for="Phone" class="text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control">
                <script>(function () { var p = document.getElementById('Password'); p.setAttribute('placeholder', p.previousElementSibling.innerHTML); })();</script>
                <span asp-validation-for="Password" class="text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Confirmation"></label>
                <input asp-for="Confirmation" class="form-control">
                <script>(function () { var p = document.getElementById('Confirmation'); p.setAttribute('placeholder', p.previousElementSibling.innerHTML); })();</script>
                <span asp-validation-for="Confirmation" class="text text-danger"></span>
            </div>
            <div class="form-group">
                <partial name="_ReCaptcha" />
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
                <script>(function () { var p = document.getElementById('Name'); p.setAttribute('placeholder', p.previousElementSibling.innerHTML); })();</script>
                <span asp-validation-for="Name" class="text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname"></label>
                <input asp-for="Surname" class="form-control">
                <script>(function () { var p = document.getElementById('Surname'); p.setAttribute('placeholder', p.previousElementSibling.innerHTML); })();</script>
                <span asp-validation-for="Surname" class="text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patronymic"></label>
                <input asp-for="Patronymic" class="form-control">
                <script>(function () { var p = document.getElementById('Patronymic'); p.setAttribute('placeholder', p.previousElementSibling.innerHTML); })();</script>
                <span asp-validation-for="Patronymic" class="text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsWoman"></label>
                <input type="hidden" asp-for="IsWoman" />
                <select class="form-control">
                    <option>Мужской</option>
                    <option>Женския</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Birthday"></label>
                <input asp-for="Birthday" class="form-control">
                <script>(function () { var p = document.getElementById('Birthday'); p.setAttribute('placeholder', p.previousElementSibling.innerHTML); })();</script>
                <span asp-validation-for="Birthday" class="text text-danger"></span>
            </div>

            <div align="right">
                <button type="submit" class="btn btn-primary btn-sm">Выполнить</button>
            </div>
        </div>


    </form>
    <script>
        localStorage.setItem(location.url, JSON.stringify(model.innerHTML));
        window.addEventListener('load',function onLoginViewLoaded(){          
          if(typeof(localStorage[location.url]) != 'undefined' ){
              const json = localStorage.getItem(location.url); 
              var model = JSON.parse(json);
              var names = Object.getOwnPropertyNames(model);
              for(let i=0; i<names.length; i++){
                  const element = document.getElementById(names[i]);
                  if(element){
                      element.value = model[names[i]];
                  }
              }
          }
        },true);
    </script>
</div>