﻿@{
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}

@model IEnumerable<Message>
@foreach(var message in Model)
{
    <div class="card m-2">
      <div class="card-header">
        @message.Subject
      </div>
      <div class="card-body">    
        <p class="card-text text-sm">@message.Text</p>        
        <a href="/User/Messages/Delete?id=@message.ID" class="btn btn-danger">delete</a>
      </div>
    </div>
}
