﻿@{
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Message

           

<form class="card" method="post">
    <div class="card-header">
        Новое сообщение
       
            <div asp-validation-summary="All" class="text text-danger"></div>
       
    </div>
    <div class="card-body">
        <h5 class="card-title">
            <div class="form-group">
                <label asp-for="Subject"> </label>
                <input  class="form-control" 
                        asp-for="Subject"
                        placeholder="Выберите пользователя">
            </div>
        </h5>
        <div class="card-text">
            <div class="form-group">
                <label asp-for="Text">Текст</label>
                <textarea class="form-control" asp-for="Text" rows="3"></textarea>
            </div>
        </div>
    </div>
    <button class="btn btn-primary">Отправить</button>
</form>
   